* text=auto
*.cpp text eol=crlf
*.h text eol=crlf
*.cs text eol=crlf
*.ini text eol=crlf
*.uproject text eol=lf
*.uplugin text eol=lf
*.md text eol=lf

# Unreal binary assets
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
*.ubulk filter=lfs diff=lfs merge=lfs -text
*.uexp filter=lfs diff=lfs merge=lfs -text
